Add a class to your h1 tag and assign it a color of red and name is: custom-heading
Create a div tag with an ul of three items.
For the same div,create a class called list. Integrate two styles, of your choice, for that class.

<h1 style="color:red" class="custom-heading">Week Three Assignment</h1>
<div>
  <ul>
    <li>Sam</li>
    <li>James</li>
    <li>Jake</li>
  </ul>
  <p class="list" style="color:blue; text-align: center;">La La La</p>
</div>
